@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h2>Doctor Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>
<h5>@Html.DisplayFor(model => model.Specialty)</h5>

@if(@Model.Patients.Count == 0)
{
  <p>No doctors are showing up.</p>
}
else
{
  <div class="well">
      <h4 class="col-sm-3">Current Patients:</h4>
      <ul>
      @foreach(var join in Model.Patients)
      {
        <li class="col-sm-9">@join.Patient.Name</li>
      }
      </ul>
  </div>
}
<hr>
<input type="button" value="Edit Doctor" onclick="location.href='@Url.Action("Edit", "Doctors", new { id = Model.DoctorId })';" class="btn btn-primary" />
<input type="button" value="Delete Doctor" onclick="location.href='@Url.Action("Delete", "Doctors", new { id = Model.DoctorId })';" class="btn btn-primary" />
<input type="button" value="Doctor List" onclick="location.href='@Url.Action("Index", "Doctors")';" class="btn btn-primary" />
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-primary" />