@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Student

<h2>Add a Doctor</h2>

<h4>Add a doctor to this patient: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.Label("Select Doctor")
    @Html.DropDownList("DoctorId")

    <input type="submit" value="Save" />
}
<input type="button" value="Patient List" onclick="location.href='@Url.Action("Index", "Patients")';" class="btn btn-primary" />
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-primary" />