@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h4>Add a new Patient</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.Label("Select doctor")
    @Html.DropDownList("DoctorId")

    <input type="submit" value="Add new patient" class="btn btn-default" />
}
<input type="button" value="Patient List" onclick="location.href='@Url.Action("Index", "Patients")';" class="btn btn-primary" />
<input type="button" value="Return Home" onclick="location.href='@Url.Action("Index", "Home")';" class="btn btn-primary" />